
ul {
  margin: 0;
  padding: 0;
  background-color: #333;
}

}
li{
  display: inline;
  font-size: : 10px;
  font-family: sans-serif;
  color: #FFFAFA;
}

img{
  width: 23%;
  padding: 5px;
}

.results{
  background-color: #333;
  color: 	#FFFF00;
  width: max-width;
  height: 5%;
  text-align: left;
  font-family: sans-serif;
  padding: 7px;
}

.selectedMovie{
  float: left;
}


.login{
  text-align: center;
}

.loginButton{
  color: "white";
  background-color: "blue";
  padding: 5px;
  margin-top: 3px;
  align-content: left;
}
