nav{
    background-color: #606060;
    width: 100vw;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;

}


li {
  display: inline;
  text-decoration: none;
  color:#FFFFFF;
  padding-left: 3px;
}

.searchButton{
  border-color: orange;
  background-color: #606060;
  color: orange;
  text-align: right;
}



img{
  width: 23%;
  padding: 5px;
}

.results{
  background-color: #333;
  color: 	#FFFF00;
  width: max-width;
  height: 5%;
  text-align: left;
  font-family: sans-serif;
  padding: 7px;
}

.selectedMovie{
  float: left;
}



.loginButton{
  color: "white";
  background-color: "blue";
  padding: 5px;
  margin-top: 3px;
  align-content: left;
}

.selected{
  color: #FFFFFF;
}
